/*-------------*\
    Variables
\*-------------*/
/*---------------*\
    Responsive
\*---------------*/
/*----------*\
    Global
\*----------*/
html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

*, *:before, *:after {
  box-sizing: inherit; }

* {
  font-family: "Raleway", sans-serif;
  color: white; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Boogaloo", sans-serif; }

p {
  max-width: 1000px;
  text-align: justify;
  line-height: 150%;
  /*@include respond-to(small) { ... }*/ }
  @media only screen and (max-width: 800px) {
    p {
      padding: 0 1em; } }

a {
  text-decoration: none; }

main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  /*@include respond-to(small) { ... }*/ }
  @media only screen and (max-width: 800px) {
    main {
      flex-direction: column; } }

/*----------------------*\
    Panels #one & #two
\*----------------------*/
#one, #two {
  /*@include respond-to(small) { ... }*/ }
  @media only screen and (max-width: 800px) {
    #one, #two {
      width: 100%;
      min-height: 100vh; } }

#one {
  background-color: #0f0f0f;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
  /*@include respond-to(large) { ... }*/
  display: flex; }
  @media only screen and (min-width: 801px) {
    #one {
      position: fixed;
      width: 30%;
      height: 100vh; } }
  #one .column {
    width: 100%;
    height: 60%;
    margin: auto;
    text-align: center; }
    #one .column img {
      width: 40%; }
    #one .column h1 {
      /*@include font-size(4.5em, 2.3em);*/
      font-size: 3.5em;
      /*@include respond-to(small) { ... }*/
      text-transform: uppercase;
      color: #f79a51; }
      @media only screen and (max-width: 800px) {
        #one .column h1 {
          font-size: 2em; } }
    #one .column p {
      font-size: 1.1em;
      text-align: center; }
      #one .column p a {
        color: #f79a51; }
    #one .column a img {
      width: 50px; }

#two {
  background-color: #191919;
  width: 100%;
  /*@include respond-to(large) { ... }*/
  /***** navigation *****/ }
  @media only screen and (min-width: 801px) {
    #two {
      margin-left: 30%; } }
  #two nav {
    /*@include respond-to(small) { ... }*/
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 5vh;
    display: flex;
    flex-basis: 100%;
    background-color: #141414; }
    @media only screen and (max-width: 800px) {
      #two nav {
        display: none; } }
    #two nav .nav-item {
      flex: 1;
      text-align: center;
      text-transform: uppercase;
      height: 5vh;
      line-height: 5vh; }
      #two nav .nav-item a {
        color: #9d9d9d;
        font-size: 0.9em;
        display: block; }
        #two nav .nav-item a:hover, #two nav .nav-item a.active {
          background-color: #111111;
          color: #f79a51; }

/*--------------*\
    Panel #two
\*--------------*/
/***** Global *****/
#two section {
  width: 100%;
  display: flex;
  flex-direction: column; }
  #two section h1 {
    text-align: center;
    text-transform: uppercase;
    color: #f79a51;
    /*@include font-size(4.5em, 2.3em);*/
    font-size: 3em;
    /*@include respond-to(small) { ... }*/ }
    @media only screen and (max-width: 800px) {
      #two section h1 {
        font-size: 2em; } }

/***** Band *****/
#band #introduction {
  display: flex;
  flex-direction: column; }
  #band #introduction img {
    margin: auto;
    /*@include respond-to(small) { ... }*/ }
    @media only screen and (max-width: 800px) {
      #band #introduction img {
        width: 90%; } }
  #band #introduction p {
    margin: 3em auto; }
#band #members {
  /*@include respond-to(large) { ... }*/
  /*@include respond-to(small) { ... }*/ }
  @media only screen and (min-width: 801px) {
    #band #members .row {
      padding: 3em;
      display: flex; }
      #band #members .row:nth-of-type(2), #band #members .row:nth-of-type(4) {
        flex-direction: row-reverse; }
      #band #members .row img {
        width: 30%; }
      #band #members .row .column {
        width: 70%;
        padding: 0 1em; } }
  @media only screen and (max-width: 800px) {
    #band #members .row {
      display: flex;
      flex-direction: column; }
      #band #members .row img {
        min-width: 60%;
        max-width: 80%;
        margin: auto; } }
  #band #members h2 {
    /*@include font-size(4.5em, 2.3em);*/
    font-size: 2.5em;
    /*@include respond-to(small) { ... }*/
    color: #f79a51;
    text-align: center; }
    @media only screen and (max-width: 800px) {
      #band #members h2 {
        font-size: 1.7em; } }

/***** Discover *****/
#discover #video-box {
  width: 50%;
  text-align: center;
  margin: auto; }
#discover #audio-player {
  margin-top: 3em;
  display: flex;
  flex-direction: column; }
  #discover #audio-player div {
    height: 5vh;
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center; }
    #discover #audio-player div span {
      line-height: 5vh;
      padding: 0 1em;
      font-size: 0.8em;
      width: 30%; }
    #discover #audio-player div audio {
      width: 50%; }

/***** Dates *****/
#dates #agenda {
  text-align: left;
  width: 80%;
  margin: auto; }
  #dates #agenda table {
    background-color: #0f0f0f;
    width: 100%;
    border-collapse: collapse; }
    #dates #agenda table td, #dates #agenda table th {
      border: 2px solid #191919; }
    #dates #agenda table td {
      padding: 1em; }
    #dates #agenda table th {
      font-family: "Boogaloo", sans-serif;
      color: #f79a51;
      font-size: 1.5em;
      padding: 0.7em; }

/*# sourceMappingURL=styles.css.map */
