@charset "UTF-8";
/*-------------*\
    Variables
\*-------------*/
/*---------------*\
    Responsive
\*---------------*/
/*----------*\
    Global
\*----------*/
html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

*, *:before, *:after {
  box-sizing: inherit; }

* {
  font-family: "Rubik", sans-serif;
  color: white; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Rubik", sans-serif;
  font-weight: 500; }

p {
  max-width: 1000px;
  line-height: 150%;
  font-weight: 300;
  /*@include respond-to(small) { ... }*/ }
  @media only screen and (max-width: 800px) {
    p {
      padding: 0 1em; } }

a {
  text-decoration: none; }

main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  /*@include respond-to(small) { ... }*/ }
  @media only screen and (max-width: 800px) {
    main {
      flex-direction: column; } }

/*----------------------*\
    Panels #one & #two
\*----------------------*/
#one, #two {
  /*@include respond-to(small) { ... }*/ }
  @media only screen and (max-width: 800px) {
    #one, #two {
      width: 100%;
      min-height: 100vh; } }

#one {
  background-color: #0f0f0f;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
  /*@include respond-to(large) { ... }*/
  display: flex; }
  @media only screen and (min-width: 801px) {
    #one {
      position: fixed;
      width: 30%;
      height: 100vh; } }
  #one .column {
    width: 100%;
    height: 60%;
    margin: auto;
    text-align: center; }
    #one .column img {
      width: 40%; }
    #one .column h1 {
      /*@include responsive-font-size(4.5em, 2.3em);*/
      font-size: 3em;
      /*@include respond-to(small) { ... }*/
      text-transform: uppercase;
      color: #f79a51; }
      @media only screen and (max-width: 800px) {
        #one .column h1 {
          font-size: 2em; } }
    #one .column p {
      font-size: 1.1em;
      text-align: center; }
      #one .column p a {
        color: #f79a51;
        font-weight: 400; }
    #one .column a img {
      width: 50px; }

#two {
  background-color: #191919;
  width: 100%;
  /*@include respond-to(large) { ... }*/
  /*@include respond-to(small) { ... }*/
  /***** navigation *****/ }
  @media only screen and (min-width: 801px) {
    #two {
      margin-left: 30%; } }
  @media only screen and (max-width: 800px) {
    #two {
      display: flex;
      flex-direction: column; } }
  #two nav {
    /* mobile navigation */
    /*@include respond-to(small) { ... }*/
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 5vh;
    display: flex;
    flex-basis: 100%;
    background-color: #141414; }
    @media only screen and (max-width: 800px) {
      #two nav {
        flex-direction: column;
        order: 2; }
        #two nav .nav-item {
          display: flex;
          font-size: 1.2em; }
          #two nav .nav-item a {
            margin: auto;
            padding: 10px 0;
            width: 100%; }
            #two nav .nav-item a.active {
              background-color: #0f0f0f; } }
    #two nav .nav-item {
      flex: 1;
      text-align: center;
      text-transform: uppercase;
      height: 5vh;
      line-height: 5vh; }
      #two nav .nav-item a {
        color: #9d9d9d;
        font-size: 0.9em;
        font-weight: 400;
        display: block; }
        #two nav .nav-item a:hover, #two nav .nav-item a.active {
          color: #f79a51; }

/*--------------*\
    Panel #two
\*--------------*/
/***** Global *****/
#two section {
  width: 100%;
  display: flex;
  flex-direction: column; }
  #two section h1 {
    text-align: center;
    text-transform: uppercase;
    color: #f79a51;
    /*@include responsive-font-size(4.5em, 2.3em);*/
    font-size: 2.5em;
    /*@include respond-to(small) { ... }*/ }
    @media only screen and (max-width: 800px) {
      #two section h1 {
        font-size: 2em; } }

/***** Band *****/
#band #introduction {
  display: flex;
  flex-direction: column; }
  #band #introduction img {
    width: 75%;
    margin: auto;
    /*@include respond-to(small) { ... }*/ }
    @media only screen and (max-width: 800px) {
      #band #introduction img {
        width: 90%; } }
  #band #introduction div {
    width: 60%;
    /*@include respond-to(small) { ... }*/
    margin: 2em auto 1em auto; }
    @media only screen and (max-width: 800px) {
      #band #introduction div {
        width: 95%; } }
#band #members {
  /*@include respond-to(large) { ... }*/
  /*@include respond-to(small) { ... }*/ }
  @media only screen and (min-width: 801px) {
    #band #members .row {
      padding: 3em;
      display: flex; }
      #band #members .row:nth-of-type(2), #band #members .row:nth-of-type(4) {
        flex-direction: row-reverse; }
      #band #members .row img {
        width: 30%; }
      #band #members .row .column {
        width: 70%;
        padding: 0 1em; } }
  @media only screen and (max-width: 800px) {
    #band #members .row {
      display: flex;
      flex-direction: column; }
      #band #members .row img {
        min-width: 60%;
        max-width: 80%;
        margin: auto; } }
  #band #members h2 {
    /*@include responsive-font-size(4.5em, 2.3em);*/
    font-size: 2.5em;
    /*@include respond-to(small) { ... }*/
    color: #f79a51;
    text-align: center; }
    @media only screen and (max-width: 800px) {
      #band #members h2 {
        font-size: 1.7em; } }

/***** History *****/
#history .content, #legal .content {
  min-height: 78.3vh; }

/***** Discover *****/
#discover #video-box {
  width: 100%;
  text-align: center;
  margin: auto; }
#discover .content {
  width: 50%;
  min-height: 68vh;
  margin: 3em auto;
  /*@include respond-to(small) { ... }*/ }
  @media only screen and (max-width: 800px) {
    #discover .content {
      width: 80%; } }
  #discover .content .audio-player {
    background-color: black;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly; }
    #discover .content .audio-player .button {
      width: 6vh;
      height: 6vh; }
      #discover .content .audio-player .button img {
        width: 100%;
        height: 100%; }
        #discover .content .audio-player .button img:hover {
          cursor: pointer; }
    #discover .content .audio-player .info {
      width: 80%; }
      #discover .content .audio-player .info .title {
        font-size: 0.8em; }
      #discover .content .audio-player .info .progress-bar {
        background-color: #0a0a0a;
        width: 100%;
        height: 20px; }
        #discover .content .audio-player .info .progress-bar .progress {
          background-color: #ffad3d;
          width: 0px;
          height: 20px; }
      #discover .content .audio-player .info .audio-infos {
        height: 15px;
        display: flex;
        justify-content: space-between; }
        #discover .content .audio-player .info .audio-infos span.current-time, #discover .content .audio-player .info .audio-infos span.duration {
          padding-top: 5px;
          font-family: "Inconsolata", monospace;
          font-size: 0.9em; }
  #discover .content .audio-list {
    background-color: #0a0a0a;
    width: 100%;
    height: 25vh; }
    #discover .content .audio-list ul {
      padding: 0;
      margin: 0; }
      #discover .content .audio-list ul li {
        list-style-type: none;
        font-size: 0.8em;
        padding: 0 1em;
        height: 2em;
        line-height: 2em;
        display: flex;
        justify-content: space-between;
        overflow-x: hidden; }
        #discover .content .audio-list ul li:hover {
          cursor: pointer; }
        #discover .content .audio-list ul li .active {
          color: #ffad3d; }
        #discover .content .audio-list ul li .duration {
          font-family: "Inconsolata", monospace;
          font-size: 1.1em; }
  #discover .content .playlist-length {
    background-color: #0a0a0a;
    padding: 0.5em 1em; }
    #discover .content .playlist-length span {
      font-family: "Inconsolata", monospace;
      font-size: 0.9em; }

/***** Dates *****/
#dates .content {
  text-align: left;
  width: 80%;
  margin: auto;
  min-height: 78.3vh; }
  #dates .content h2 {
    color: #f79a51;
    /*@include responsive-font-size(4.5em, 2.3em);*/
    font-size: 2.5em;
    /*@include respond-to(small) { ... }*/ }
    @media only screen and (max-width: 800px) {
      #dates .content h2 {
        font-size: 1.7em; } }
  #dates .content table {
    background-color: #0f0f0f;
    width: 100%;
    border-collapse: collapse; }
    #dates .content table td, #dates .content table th {
      border: 2px solid #191919; }
    #dates .content table td {
      padding: 1em; }
    #dates .content table th {
      font-family: "Rubik", sans-serif;
      color: #f79a51;
      font-size: 1.3em;
      font-weight: 400;
      padding: 0.7em; }
    #dates .content table tbody td:first-of-type {
      width: 200px;
      /*@include respond-to(small) { ... }*/ }
      @media only screen and (max-width: 800px) {
        #dates .content table tbody td:first-of-type {
          width: 100px; } }

/***** Mentions légales *****/
#legal .content {
  /*@include respond-to(small) { ... }*/
  /*@include respond-to(large) { ... }*/ }
  @media only screen and (max-width: 800px) {
    #legal .content {
      padding: 0 1em; } }
  @media only screen and (min-width: 801px) {
    #legal .content {
      padding: 0 3em; } }
  #legal .content p {
    max-width: 100vw; }
  #legal .content ul li {
    line-height: 150%; }
  #legal .content p strong {
    font-size: 120%;
    color: #f79a51; }
  #legal .content a {
    color: #f79a51; }
    #legal .content a:hover {
      text-decoration: underline; }

/***** Footer *****/
footer {
  background-color: #0f0f0f;
  font-size: 0.9em;
  min-height: 3.5vh;
  padding: 0 1em;
  display: flex;
  justify-content: space-between;
  /*@include respond-to(small) { ... }*/ }
  footer span {
    color: #595959;
    margin: auto 0; }
  footer a {
    color: #9d9d9d; }
    footer a:hover {
      text-decoration: underline; }
  @media only screen and (max-width: 800px) {
    footer {
      order: 3;
      padding: 1em 0;
      flex-direction: column;
      text-align: center;
      line-height: 150%; } }

/*# sourceMappingURL=styles.css.map */
