@charset "UTF-8";
/*-------------*\
    Variables
\*-------------*/
/*---------------*\
    Responsive
\*---------------*/
/*----------*\
    Global
\*----------*/
html, body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

* {
  font-family: "Rubik", sans-serif;
  color: white; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Rubik", sans-serif;
  font-weight: 500; }

p {
  font-weight: 300;
  text-align: justify;
  /*@include respond-to(large) { ... }*/
  /*@include respond-to(small) { ... }*/ }
  @media only screen and (min-width: 801px) {
    p {
      line-height: 200%;
      margin: auto; } }
  @media only screen and (max-width: 800px) {
    p {
      padding: 0 1em;
      line-height: 150%;
      max-width: 1000px; } }

a {
  text-decoration: none; }

main {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*@include respond-to(small) { ... }*/ }
  @media only screen and (max-width: 800px) {
    main {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

/*----------------------*\
    Panels #one & #two
\*----------------------*/
#one, #two {
  /*@include respond-to(small) { ... }*/ }
  @media only screen and (max-width: 800px) {
    #one, #two {
      width: 100%; } }

#one {
  /*@include respond-to(small) { ... }*/
  background-color: #0f0f0f;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
  /*@include respond-to(large) { ... }*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media only screen and (max-width: 800px) {
    #one {
      min-height: 100vh; } }
  @media only screen and (min-width: 801px) {
    #one {
      position: fixed;
      width: 30%;
      height: 100vh; } }
  #one .column {
    width: 100%;
    height: 60%;
    margin: auto;
    text-align: center; }
    #one .column img {
      width: 40%; }
    #one .column h1 {
      /*@include responsive-font-size(4.5em, 2.3em);*/
      font-size: 3em;
      /*@include respond-to(small) { ... }*/
      text-transform: uppercase;
      color: #f79a51; }
      @media only screen and (max-width: 800px) {
        #one .column h1 {
          font-size: 2em; } }
    #one .column p {
      font-size: 1.1em;
      text-align: center;
      margin-bottom: 30px; }
      #one .column p a {
        color: #f79a51;
        font-weight: 400; }
    #one .column a img {
      width: 50px; }

#two {
  background-color: #191919;
  width: 100%;
  /*@include respond-to(large) { ... }*/
  /*@include respond-to(small) { ... }*/
  /***** navigation *****/ }
  @media only screen and (min-width: 801px) {
    #two {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-left: 30%;
      min-height: 100vh; } }
  @media only screen and (max-width: 800px) {
    #two {
      display: block; } }
  #two nav {
    /* mobile navigation */
    /*@include respond-to(small) { ... }*/
    /* desktop navigation */
    /*@include respond-to(large) { ... }*/
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #141414; }
    @media only screen and (max-width: 800px) {
      #two nav {
        display: block; }
        #two nav .nav-item {
          width: 100%;
          height: 10vh;
          line-height: 10vh;
          font-size: 1.2em; }
          #two nav .nav-item a {
            width: 100%; } }
    @media only screen and (min-width: 801px) {
      #two nav {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        height: 5vh; }
        #two nav .nav-item {
          height: 5vh;
          line-height: 5vh; } }
    #two nav .nav-item {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      text-align: center;
      text-transform: uppercase; }
      #two nav .nav-item a {
        color: #9d9d9d;
        font-size: 0.9em;
        font-weight: 400;
        display: block; }
        #two nav .nav-item a:hover, #two nav .nav-item a.active {
          color: #f79a51; }

/*--------------*\
    Panel #two
\*--------------*/
/***** Global *****/
#two section {
  width: 100%;
  /*@include respond-to(small) { ... }*/
  /*@include respond-to(large) { ... }*/ }
  @media only screen and (min-width: 801px) {
    #two section {
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  #two section h1 {
    text-align: center;
    text-transform: uppercase;
    color: #f79a51;
    /*@include responsive-font-size(4.5em, 2.3em);*/
    font-size: 2.5em;
    /*@include respond-to(small) { ... }*/ }
    @media only screen and (max-width: 800px) {
      #two section h1 {
        font-size: 2em; } }

/***** Band *****/
#band #introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  #band #introduction img {
    width: 75%;
    -ms-flex-item-align: center;
    align-self: center;
    max-height: 700px;
    /*@include respond-to(small) { ... }*/ }
    @media only screen and (max-width: 800px) {
      #band #introduction img {
        width: 90%; } }
  #band #introduction div {
    width: 60%;
    /*@include respond-to(small) { ... }*/
    margin: 2em auto 1em auto; }
    @media only screen and (max-width: 800px) {
      #band #introduction div {
        width: 95%; } }
#band #members {
  /*@include respond-to(large) { ... }*/
  /*@include respond-to(small) { ... }*/ }
  @media only screen and (min-width: 801px) {
    #band #members .row {
      padding: 3em;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      #band #members .row:nth-of-type(2), #band #members .row:nth-of-type(4) {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse; }
      #band #members .row img {
        width: 30%;
        -ms-flex-item-align: start;
        align-self: start; }
      #band #members .row .column {
        width: 70%;
        padding: 0 1em; }
        #band #members .row .column p {
          width: 80%; } }
  @media only screen and (max-width: 800px) {
    #band #members .row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-bottom: 60px; }
      #band #members .row img {
        min-width: 60%;
        max-width: 80%;
        margin: auto;
        max-height: 360px; } }
  #band #members h2 {
    /*@include responsive-font-size(4.5em, 2.3em);*/
    font-size: 2.5em;
    /*@include respond-to(small) { ... }*/
    color: #f79a51;
    text-align: center; }
    @media only screen and (max-width: 800px) {
      #band #members h2 {
        font-size: 1.7em; } }

/***** History *****/
#history .content {
  min-height: 78.3vh;
  /*@include respond-to(small) { ... }*/
  /*@include respond-to(large) { ... }*/
  margin: auto; }
  @media only screen and (max-width: 800px) {
    #history .content {
      width: 95%; } }
  @media only screen and (min-width: 801px) {
    #history .content {
      width: 80%; } }

/***** Music *****/
#music {
  min-height: 91.5vh; }
  #music #audioplayer-container {
    /*@include respond-to(small) { ... }*/
    /*@include respond-to(large) { ... }*/
    margin: 3em auto; }
    @media only screen and (max-width: 800px) {
      #music #audioplayer-container {
        width: 90%; } }
    @media only screen and (min-width: 801px) {
      #music #audioplayer-container {
        width: 70%; } }
    #music #audioplayer-container iframe {
      width: 100%;
      min-height: 45vh;
      border: 0;
      outline: 0; }

/***** Mentions légales *****/
#legal .content {
  /*@include respond-to(small) { ... }*/
  /*@include respond-to(large) { ... }*/ }
  @media only screen and (max-width: 800px) {
    #legal .content {
      padding: 0 1em; } }
  @media only screen and (min-width: 801px) {
    #legal .content {
      padding: 0 3em; } }
  #legal .content p {
    max-width: 100vw; }
  #legal .content ul li {
    line-height: 150%; }
  #legal .content p strong {
    font-size: 120%;
    color: #f79a51; }
  #legal .content a {
    color: #f79a51; }
    #legal .content a:hover {
      text-decoration: underline; }

/***** Footer *****/
footer {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
  font-size: 0.9em;
  min-height: 3.5vh;
  padding: 0 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  /*@include respond-to(small) { ... }*/ }
  footer a {
    margin: auto 0;
    color: #333; }
    footer a:hover {
      text-decoration: underline; }
  @media only screen and (max-width: 800px) {
    footer {
      padding: 1em 0;
      line-height: 150%; }
      footer a {
        margin: auto; } }

/*# sourceMappingURL=styles.css.map */
