/*-------------------------*\
    Browser compatibility
\*-------------------------*/

@mixin display-flex() {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

@mixin flex-direction($value) {
    @if $value == row {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    @else if $value == row-reverse {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }
    @else if $value == column {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    @else if $value == column-reverse {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }
}

@mixin flex-wrap($value) {
    -ms-flex-wrap: $value;
    flex-wrap: $value;
}

@mixin justify-content($value) {
    @if $value == center {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    @else if $value == flex-start {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    @else if $value == flex-end {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
    @else if $value == space-between {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    @else if $value == space-around {
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
    @else if $value == space-evenly {
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
    } 
}

@mixin align-items($value) {
    @if $value == stretch {
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
    }
    @else if $value == flex-start {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    @else if $value == flex-end {
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
    }
    @else if $value == center {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    @else if $value == baseline {
        -webkit-box-align: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;
    }
}
    
@mixin align-content($value) {
    @if $value == stretch {
        -ms-flex-line-pack: stretch;
        align-content: stretch;
    }
    @else if $value == flex-start {
        -ms-flex-line-pack: start;
        align-content: flex-start;
    }
    @else if $value == flex-end {
        -ms-flex-line-pack: end;
        align-content: flex-end;
    }
    @else if $value == center {
        -ms-flex-line-pack: center;
        align-content: center;
    }
    @else if $value == space-between {
        -ms-flex-line-pack: justify;
        align-content: space-between;
    }
    @else if $value == space-around {
        -ms-flex-line-pack: distribute;
        align-content: space-around;
    }
}

@mixin align-self($value) {
    @if $value == auto {
        -ms-flex-item-align: auto;
        -ms-grid-row-align: auto;
        align-self: auto;
    }
    @else if $value == normal {
        -ms-flex-item-align: normal;
        -ms-grid-row-align: normal;
        align-self: normal;
    }
    @else if $value == self-start {
        -ms-flex-item-align: self-start;
        -ms-grid-row-align: self-start;
        align-self: self-start;
    }
    @else if $value == self-end {
        -ms-flex-item-align: self-end;
        -ms-grid-row-align: self-end;
        align-self: self-end;
    }
    @else if $value == flex-start {
        -ms-flex-item-align: start;
        align-self: flex-start;
    }
    @else if $value == flex-end {
        -ms-flex-item-align: end;
        align-self: flex-end;
    }
    @else if $value == center {
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    }
    @else if $value == baseline {
        -ms-flex-item-align: baseline;
        align-self: baseline;
    }
    @else if $value == stretch {
        -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    }
}

@mixin order($value) {
    -webkit-box-ordinal-group: $value + 1;
    -ms-flex-order: $value;
    order: $value;
}

@mixin flex-basis($value) {
    -ms-flex-preferred-size: $value;
    flex-basis: $value;
}

@mixin flex($value) {
    -webkit-box-flex: $value;
    -ms-flex: $value;
    flex: $value;
}