@import "variables";
@import "mixins";

/*--------------------*\
    General
\*--------------------*/

html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: $body-color;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/*--------*\
    Text
\*--------*/

* {
    font-family: $text-font;
    color: $text-color;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $title-font;
    text-align: $title-alignment;
    color: $title-color;
}

p {
    padding: 0 1em;
    line-height: 150%;
    max-width: 1000px;
    font-size: $base-text-size;
    margin: 1em auto;
}

/* Mobile fonts */
h1 { font-size: $base-text-size * 2; }
h2 { font-size: $base-text-size * 1.7; }
h3 { font-size: $base-text-size * 1.4; }

/* Desktop fonts */
@media screen and (min-width: 800px) {
    h1 { font-size: $base-text-size * 3; }
    h2 { font-size: $base-text-size * 2.5; }
    h3 { font-size: $base-text-size * 2; }
    h4 { font-size: $base-text-size * 1.5; }
    h5 { font-size: $base-text-size * 1.2; }
    h6 { font-size: $base-text-size * 1.1; }
}

/*---------*\
    Links
\*---------*/

a {
    text-decoration: none;
    color: $link-color;
}

p a, li a {
    &:hover {
        text-decoration: underline dotted;
    }
}

/*----------*\
    Images
\*----------*/

.img-center {
    @include tac;
}

img {
    max-width: 100%;
    margin: 1em 0;
    border: $img-border;
}

@media screen and (min-width: 800px) {
    img {
        width: $img-width;
    }
}

/*-----------*\
    Buttons
\*-----------*/

button {
    background-color: $btn-bg;
    color: $btn-text-color;
    font-size: $base-text-size;
    padding: 1em;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin: 1em auto;
}