/*----------*\
    Mixins
\*----------*/

@mixin row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@mixin column {
    flex-basis: 100%;
}

/********** Alignment **********/

@mixin tac {
    text-align: center;
}

@mixin jus {
    text-align: justify;
}

@mixin va {         /* To vertically align a column inside a row of 100vh */
    height: 100vh;
    align-items: center;
}

/*-------------------*\
    Working classes
\*-------------------*/

.va {
    @include va;
}

.tac {
    @include tac;
}

.jus {
    @include jus;
}