/*--------------*\
    Navigation
\*--------------*/

nav {
    @include row;
    background-color: $nav-bg;
    position: fixed;
    width: 100%;
}

nav,
nav .nav-title {
    height: 20vh;
    line-height: 20vh;
}

/***** Nav title *****/

nav .nav-title {
    padding: 0;
    @include column;
    text-align: center;
    a {
        font-family: $nav-title-font-family;
        font-size: $base-text-size * 2;
        color: $nav-title-color;
    }
}

/***** Nav content *****/

nav .nav-content {
    padding: 0;
    @include column;
    z-index: 10;
    .nav-items {
        @include row;
    }
    .nav-item {
        @include column;
        @include tac;
        border: $nav-item-border;
        background-color: $nav-item-bg;
        text-transform: uppercase;
        font-size: $base-text-size * 0.9;
        a {
            display: block;
            color: $nav-item-text-color;
            &:hover {
                background-color: $nav-item-hover-bg;
                color: $nav-item-hover-text-color;
            }
        }
    }
}

nav .nav-content .nav-item .active,
nav .nav-content .nav-item a:focus {
    color: $nav-item-active;
}

/***** Nav hamburger *****/

nav .nav-toggle {
    display: block;
    position: absolute;
    right: 0;
    padding: 10px;
    height: 20vh;
    i {
        font-size: 2em;
        width: 50px;
        text-align: center;
        color: $nav-toggle-color;
    }
}

/********** Responsive **********/

/* Mobile styles */
@media screen and (max-width: 800px) {
    nav + section > .single-column, nav + section > .column {
        margin-top: ($nav-height * 2) - 5;
    }
    
    nav .nav-content {
        visibility: hidden;
    }
}

/* Desktop styles */
@media screen and (min-width: 800px) {
    nav,
    nav .nav-title {
        height: $nav-height;
        line-height: $nav-height;
    }
    
    nav {
        position: $nav-position;
        .nav-title {
            flex: $nav-title-width;
        }
        .nav-content {
            flex: $nav-content-width;
            .nav-item {
                flex: 1;
            }
        }
        .nav-separator {
            @include column;
            flex: $nav-separator-width;
        }
        .nav-toggle {
            visibility: hidden;
        }
    }
}