/*---------------------*\
    Project specifics
\*---------------------*/

/********** Text **********/

h1 {
    text-transform: uppercase;
}

p {
    @include jus;
}

/********** Elements **********/

#one {
    background-color: $bg1;
    #header {
        text-align: center;
        height: 60vh;
        top: 20vh;
        img {
            width: 40%;
        }
        p {
            font-size: $base-text-size * 1.1;
            text-align: center;
        }
        i {
            font-size: 3em;
            color: $accent-color;
        }
    }
}

#two {
    background-color: $bg2;
}

#two > section h1 {
    margin: 1em auto 1em auto;
}

/*** Desktop only ***/

@media screen and (min-width: 800px) {
    #one #header {
        position: fixed;
        width: 30%;
        h1 {
            font-size: $base-text-size * 3.5;
        }
    }
}

/********** Page : Groupe **********/

#groupe #introduction {
    img {
        padding: 0 1em 1em 1em;
    }
    p {
        padding: 1em;
    }
}

#groupe #members > section {
    &:nth-of-type(2), &:nth-of-type(4) {
        flex-direction: row-reverse;
    }
}

#members > section > div:first-of-type {
    padding: 0;
    text-align: center;
    img {
        width: 80%;
    }
}

/*** Desktop only ***/

@media screen and (min-width: 800px) {
    #members > section {
        margin: 5vh 10vh;
    }
    
    #members > section > div:first-of-type {
        img {
            width: 100%;
            margin: 0;
        }
    }
}

/********** Page : Découvrir **********/

/*** Desktop only ***/

@media screen and (min-width: 800px) {
    #video-box {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 30%;
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

/*** Mobile only ***/

@media screen and (max-width: 800px) {
    #video-box {
        text-align: center;
    }
}

/********** Page : Dates **********/

#agenda {
    text-align: left;
    table {
        background-color: $bg1;
        width: 100%;
        border-collapse: collapse;
        td, th {
            border: 2px solid $bg2;
        }
        td {
            padding: 1em;
        }
        th {
            font-family: $title-font;
            color: $accent-color;
            font-size: $base-text-size * 1.5;
            padding: 0.7em;
        }
    }
}